---
title: Kristian Walker
---
<!-- header -->
{% include header-meta_project.html %} 
<!-- project specific meta data-->

<!-- insert project specifi head properties -->
<!--
<link rel="stylesheet" type="text/css" href="style.css" />
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.2.min.js"></script>
<script type="text/javascript" src="main.js"></script>
</head>
<div id="page-wrapper">
<body>
-->
<link rel="stylesheet" type="text/css" href="style.css" />
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.2.min.js"></script>
<script type="text/javascript" src="main.js"></script>

</head>
<div id="page-wrapper">
<body>


{% include header.html %}

<div class="box-spacer_m"></div>

<div id="content-con">
	<div id="content-con_inner">
		<h1>
		Twitch Feed App V1.0
		</h1>
			<div class="centered-s">
				a real simple twitch feed listing the online status of these users, <br>
				ESL_SC2, OgamingSC2, cretetion, terakilobyte, freecodecamp, storbeck, habathcx, RobotCaleb, noobs2ninjas & brunofin
			</div>
		<div id="feed-con">

		</div>
	</div>
</div>




{% include footer.html %}